@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body,
html {
  width: 100%;
  height: 100%;
}

/*Tabela dos tickets geral*/
table {
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
}

thead th {
  background-color: #eee;
  text-align: center;
}

tbody td {
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-bottom: 1px solid #ddd;
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
}

.tickets-title {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}

.view-ticket {
  background-color: #007bff;
  border-radius: 0.5rem;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.view-ticket:hover {
  background-color: #0069d6;
}

/*Mensagem dos tickets*/
.message-container {
  /*border: 1px solid #ddd;*/
  padding: 1rem;
  margin-bottom: 1rem;
}

.message {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  border-radius: 0.5rem;
  padding: 10px;
}

.message-header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
  text-align: right;
}

.message-created-at {
  font-size: 0.8rem;
  color: black;
}

.message-body {
  font-size: 0.9rem;
  padding: 10px;
}

.message-meta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.message-author,
.message-email {
  margin-bottom: 0.25rem;
}

.message-email {
  font-size: 0.8rem;
  color: black;
}
.message-title {
  font-weight: bold;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*Botao alterar status do ticket*/
.status-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100%;
  margin-top: 3rem;
}

.status-select {
  width: 50%;
  border: 1px solid #000;
  border-radius: 0.5rem;
}

.status-button {
  background-color: #000;
  color: #fff;
  padding: 0.8rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-left: 0.8rem;
}

/*Students*/

.students-title {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}

.students-tickets-table {
  margin-top: 1rem;
}

.students-tickets-title {
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}

.edit-student-button {
  background-color: #007bff;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
  float: right;
}

.view-ticket:hover {
  background-color: midnightblue;
}

form {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 15px;
  width: 90%;
}

label {
  font-size: 16px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  outline: none;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.create-account-form {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
}

.create-account-form label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.create-account-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.create-account-form button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.button {
  width: 100px;
  height: 40px;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-control:focus {
  border-color: #333;
}

label {
  display: block;
  margin-bottom: 5px;
}

select {
  width: 100%;
  height: 35px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0062cc;
}
.message-admin {
  display: flex;
  flex-direction: column;
  background-color: #ff003882;
  border-radius: 0.5rem;
  padding: 10px;
}

.message-student {
  display: flex;
  flex-direction: column;
  background-color: #87cefa;
  border-radius: 0.5rem;
  padding: 10px;
}

.grow-wrap {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
}
.grow-wrap::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}
.grow-wrap > textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;

  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}
.grow-wrap > textarea,
.grow-wrap::after {
  /* Identical styling required!! */
  border: 1px solid black;
  padding: 0.5rem;
  font: inherit;

  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}
form.form-search {
  display: flex;
}

.container-buttons-search {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 20px;
}

button.button-clean-search {
  background-color: black;
  color: white;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 83px;
  margin-left: 10px;
}
button.button-search {
  font-size: 14px;
  background-color: #007bff;
  padding: 5px 10px 5px 10px;
}
p.search-title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(154, 62, 62, 0.8);
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: var(--bs-backdrop-opacity);
}
.modal {
  --bs-modal-zindex: 1055;
  --bs-modal-width: 500px;
  --bs-modal-padding: 1rem;
  --bs-modal-margin: 0.5rem;
  --bs-modal-color: ;
  --bs-modal-bg: var(--bs-body-bg);
  --bs-modal-border-color: var(--bs-border-color-translucent);
  --bs-modal-border-width: var(--bs-border-width);
  --bs-modal-border-radius: var(--bs-border-radius-lg);
  --bs-modal-box-shadow: var(--bs-box-shadow-sm);
  --bs-modal-inner-border-radius: calc(
    var(--bs-border-radius-lg) - (var(--bs-border-width))
  );
  --bs-modal-header-padding-x: 1rem;
  --bs-modal-header-padding-y: 1rem;
  --bs-modal-header-padding: 1rem 1rem;
  --bs-modal-header-border-color: var(--bs-border-color);
  --bs-modal-header-border-width: var(--bs-border-width);
  --bs-modal-title-line-height: 1.5;
  --bs-modal-footer-gap: 0.5rem;
  --bs-modal-footer-bg: ;
  --bs-modal-footer-border-color: var(--bs-border-color);
  --bs-modal-footer-border-width: var(--bs-border-width);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-modal-zindex);
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}
button.delete-button {
  background: red;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}
button.delete-button:hover {
  background-color: #8b0000ff;
}

.logout {
  cursor: pointer;
}
